<p id="notice"><%= notice %></p>

<div class="entry-detail">
  <section class="entry-attributes">
    <h1><%= @entry.title %></h1>
    <p><%= @entry._key %></p>
    <% @entry.texts.each do |text| %>
    <pre><%= text %></pre>
    <% end %>
  </div>
</section>
