/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

header {
  nav {
    @extend .navbar;
    @extend .navbar-toggleable-md;

    a.home {
      @extend .navbar-brand;
    }

    ul {
      @extend .navbar-nav;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
        }
      }
    }
  }
}

div.content {
  @extend .container;

  span.keyword {
    @extend .bg-info;
    @extend .text-white;
  }

  section.entries {
    @extend .list-group;

    form {
      @extend .form-inline;

      div {
        @extend .input-group;

        input[type="text"] {
          @extend .form-control;
        }

        input[type="submit"] {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }

    section.entry {
      @extend .list-group-item;
      @extend .list-group-item-action;

      h2 {
        @extend .list-group-item-heading;

        a {
        }

        p.url {
          @extend .text-muted;
        }
      }

      pre {
        @extend .container;
      }
    }
  }

  div.entry-detail {
    @extend .card;

    section.entry-attributes {
      @extend .card-block;

      h2 {
        @extend .card-title;
      }

      p,
      pre {
        @extend .card-text;
      }
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
